<!DOCTYPE html>
<html>
    <style>
        .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        width: 100%;
        }
        .row:after {
    content: "";
    display: table;
    clear: both;
    }
    </style>
    <body>

    <h1>Welcome Back!</h1>
    <br>
    <div class="btn-group">
        <button class="button" name="b1" type="submit" onclick="window.location.href='http://localhost:8080/login/send_message';">SEND MESSAGE</button>
        <br>
        <button class="button" name="b2" type="submit" onclick="window.location.href='http://localhost:8080/login/view_message';">VIEW MESSAGE</button>
        <br>
    </div>

    </body>
</html>
